@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --brand: #13B0F5;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0,0,0,0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
    
}
body {
    font-family: "Barlow", sans-serif;
    color: var(--body);
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: var(--dark);
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: var(--dark);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-brand {
    color: var(--brand) !important;
}

.typing-animation {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  /* Adjust the speed of typing animation */
  animation: typing 3s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
  white-space: nowrap;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #42446e }
}


/* navbar */
.top-nav {
    background-color: var(--brand);
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.navbar {
    box-shadow: var(--shadow);
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: #fff;
    color: var(--brand);
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--brand);
}

.navbar .navbar-nav .nav-link.active {
    color: var(--brand);
}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

.navbar-brand .dot {
    color: #42446E;
}

.btn {
    padding: 8px 26px;
}

.btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
}

.btn-brand:hover {
    background-color: #7864D1;
    border-color: #7864D1;
    color: #fff;
}

.intro {margin-bottom: 36px;
text-align: center;}

.intro p {
    max-width: 500px;
}
.intro h6{
    color: var(--brand);
    font-weight: 400;
    text-transform: uppercase;
}

.intro h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.info-box {
    align-items: center;
    display: flex;
}

.info-box img {
    width: 90px;
}


#milestone {
    background: linear-gradient(#1381a376, #1381a3d2), url(../img/bg_banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#milestone h1,
#milestone p {
    color: #fff;
}

.service {
    padding: 32px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.service h5 {
    margin-top: 24px;
    margin-bottom: 14px;
}

.service img {
    width: 90px;
}


.project {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.project h6 {
    font-weight: 400;
}

.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: var(--brand);
    vertical-align: middle;
    margin-right: 10px;
}

.project .overlay {
    width: 100%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 76, 41, 0) 0%, var(--dark) 100%);
}

.project .content {
    position: absolute;
    left: 10%;
    bottom: 10%
}

.project h2,
.project h6 {
    color: #fff;
}

.team-member {
    text-align: center;
}

.team-member .image{
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.team-member .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -10%;
    background-color: #1381a3;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member h5 {
    margin-top: 16px;
    margin-bottom: 4px;
}

.team-member .social-icons {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: all 0.4s ease;
}

.team-member .social-icons a {
    width: 40px;
    height: 40px;
}

.team-member:hover .social-icons {
    top: 50%;
    opacity: 1;
}

.team-member:hover .overlay {
    top: 0%;
    opacity: 1;
}

#tools {
  background: linear-gradient(135deg, #2980b9, #6dd5fa);
}

#tools h1 {
  color: #fff;
}

.service:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

[data-aos="fade-up"] {
  opacity: 0;
  will-change: opacity, transform;
  animation: fade-up 0.6s ease forwards;
}

.service {
  padding: 20px;
}

.service {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .col-lg-4 {
    width: 100%;
  }
}

.section-5 {
    padding: 50px 0px 50px 0px;
}

.section-5-text {
    font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
    width: 50%;
}

@keyframes changing-colors {
    0% {
        color: #FED85F;
    }

    100% {
        color: #000000;
    }
}

.section-5-icon {
    margin-top: 30px;
}

.sec5-icon {
    font-size: 100px;
    animation: changing-colors 2s infinite;
}

.sec5-portfolio-head {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.work-gallery-row {
    padding: 0px 20px 0px 20px;
}

@media (max-width: 1024px) {
    .section-5-text {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .section-5-text {
        font-size: 32px;
    }

    .sec5-icon {
        font-size: 70px;
    }
}

@media (max-width: 426px) {
    .section-5-text {
        font-size: 28px;
        line-height: 1.5;
        width: 90%;
    }

    .section-5-icon {
        margin: 10px 0px 10px 0px;
    }

    .sec5-icon {
        font-size: 50px;
    }

    .sec5-portfolio-head {
        font-size: 18px;
    }
}

@media (max-width: 320px) {
    .section-5 {
        padding: 30px 0px;
    }

    .section-5-text {
        font-size: 24px;
        line-height: 1.4;
        width: 95%;
    }

    .sec5-icon {
        font-size: 40px;
    }

    .sec5-portfolio-head {
        font-size: 14px;
    }

    .work-gallery-row {
        padding: 0px 10px 0px 10px;
    }
}

.masonry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 10px;
}

@media (max-width: 1440px) {
    .masonry {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .masonry {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .masonry {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .masonry {
        grid-template-columns: repeat(1, 1fr);
    }
}

.masonry .grid {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
}

.masonry .grid:before {
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
}

.masonry .grid:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}

.masonry .grid:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.04);
    transition: all 0.1s ease-in-out;
}

.masonry .grid img {
    width: 100%;
    border-radius: 5px;
}

.masonry .grid__title {
    font-size: 28px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.masonry .grid__author {
    font-size: 14px;
    font-weight: 300;
}

.masonry .grid__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.masonry .grid__body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.masonry .grid__tag {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border-radius: 5px;
    padding: 4px 10px;
    margin-bottom: 5px;
}

.mt-auto {
    margin-top: auto;
}

.sec5-btn {
    font-family: Roboto, sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    letter-spacing: 2px;
    padding: 10px 30px;
    border: none;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.sec5-btn:hover {
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

.sec5-btn:active {
    transform: translateY(0px);
}

@media (max-width: 426px) {
    .sec5-btn {
        padding: 5px 18px;
        letter-spacing: 1px;
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .masonry .grid__body {
        padding: 20px 20px;
    }

    .masonry .grid__tag {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .sec5-btn {
        padding: 5px 15px;
        font-size: 10px;
    }
}

.blog-post {
    position: relative;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.blog-post .content {
    padding: 32px;
}

.blog-post a {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

.blog-post h5 {
    margin-top: 12px;
    margin-bottom: 12px;
}

.blog-post small {
    text-transform: uppercase;
    color: var(--brand);
    text-decoration: underline;
}

.footer-top,
.footer-bottom {
    width: 100%; 
}

.container {
    max-width: none; 
}

footer {
    background: linear-gradient(135deg, #2980b9, #6dd5fa);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
    padding-top: 20px;
}

footer .navbar-brand {
    color: #fff;
}

footer p {
    color: #ADB3B9;
}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7864D1;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}


.gradient-text  {
    position: relative;
    background-image: linear-gradient( 109.6deg,  #13B0F5, #E70FAA);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

.blog-post .tag {
    width: fit-content;
    background-color: var(--brand);
    padding: 2px 12px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
}

h5 {
    color:#42446E;
}

/* Batas */
.text-base{font-size:1rem;line-height:1.5rem}
.font-bold{font-weight:700}
.text-primary{--tw-text-opacity:1;color:rgb(6 182 212/var(--tw-text-opacity))}


.w-full{width:100%}
.bg-slate-200{--tw-bg-opacity:1;background-color:rgb(226 232 240/var(--tw-bg-opacity))}
rounded-md{border-radius:.375rem}